.race-forum-section {
  margin-bottom: 3rem;
  background: var(--color-background-light);
  border-radius: var(--border-radius);
}
.race-forum-section h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.race-forum-section .forum-posts {
  margin-bottom: 2rem;
}
.race-forum-section .forum-posts .empty-state {
  padding: 0.5rem;
  font-size: 1.6rem;
}
.race-forum-section .forum-posts .forum-post {
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
  background: white;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}
.race-forum-section .forum-posts .forum-post .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--color-text-light);
}
.race-forum-section .forum-posts .forum-post .post-header .post-author {
  font-weight: bold;
}
.race-forum-section .forum-posts .forum-post .post-header .post-date {
  font-size: 1.5rem;
}
.race-forum-section .forum-posts .forum-post .post-content {
  margin-bottom: 1rem;
}
.race-forum-section .forum-input-container {
  position: relative;
  cursor: pointer;
}
.race-forum-section .forum-input-container:hover {
  text-decoration: underline;
}
.race-forum-section .forum-input-container textarea {
  width: 100%;
  min-height: 8rem;
  padding: 1rem;
  border: 1px solid var(--color-divider-grey);
  border-radius: 2px;
  resize: vertical;
  margin-bottom: 1rem;
  pointer-events: none;
}
.race-forum-section .forum-input-container .login-prompt {
  text-align: center;
  color: var(--color-primary);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.6rem;
  pointer-events: none;
}
.race-forum-section button {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}
