.section-race-cards {
  margin-top: calc(var(--header-size) + 19.5rem);
  margin-bottom: 5rem;
  height: calc(100vh - (var(--header-size) + 18.5rem + var(--ad-banner-height)));
}
@media (max-width: 44em) {
  .section-race-cards {
    margin-top: 0;
    height: auto;
  }
}
@media (max-width: 34em) {
  .section-race-cards {
    padding: 0 1.5rem;
  }
}
.section-race-cards .race-cards-selector {
  display: flex;
}
.section-race-cards .section-header-race-cards {
  margin-bottom: 2rem;
}
@media (max-width: 44em) {
  .section-race-cards .section-header-race-cards {
    padding-top: calc(var(--header-size) + 18.5rem);
  }
}
.section-race-cards .race-cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 0 auto;
  width: 100%;
  background-color: white;
}
.section-race-cards .race-cards-grid .race-card {
  width: 100%;
}
@media (min-width: 34em) {
  .section-race-cards .race-cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 69em) {
  .section-race-cards .race-cards-grid {
    grid-template-columns: repeat(3, 1fr);
    height: calc(100vh - (var(--header-size) + 19.5rem + var(--ad-banner-height) + 5rem));
    overflow-y: auto;
  }
}
.section-race-cards .pagination-info {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.section-race-cards .pagination {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 10rem 0;
}
.section-race-cards .pagination button {
  margin: 0 5px 5px 5px;
  padding: 0.7rem 1rem;
  background-color: var(--color-background-shade);
  cursor: pointer;
  font-size: 1.6rem;
  border: none;
  transition: background-color 0.3s;
}
.section-race-cards .pagination button:hover {
  background-color: var(--color-background);
  border-bottom: 2px solid #000;
  margin-bottom: calc(5px - 2px);
}
.section-race-cards .pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.section-race-cards .pagination button.active {
  background-color: var(--info-highlight-background2);
  border-color: var(--info-highlight-background2);
}
.section-race-cards .pagination .nav-button .pagination .nav-button {
  font-weight: bold;
}
.section-race-cards .pagination .nav-button .pagination .ellipsis {
  font-size: 2rem;
  margin: 0 0.4rem 0.6rem 0.5rem;
}
.section-race-cards .pagination .nav-button #page-numbers {
  display: flex;
  align-items: center;
}
.toggle-button.mobile {
  display: none;
}
@media (max-width: 44em) {
  .toggle-button.mobile {
    position: fixed;
    bottom: 9.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--color-primary-easy-shade);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    z-index: 11;
    font-size: 1.6rem;
  }
}
.toggle-button.mobile .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-placeholder {
  height: calc(100vh - calc(var(--header-size) + 25rem));
  transform: translateY(-5rem);
  width: 100%;
  max-width: 50vw;
}
.mapboxgl-popup-content {
  width: 32rem;
  padding: 0 !important;
  margin: 0;
  border-radius: 0;
  border: none;
}
.mapboxgl-popup:focus {
  outline: none;
}
.mapboxgl-popup-tip {
  display: none;
}
.popup-container {
  width: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--black-text-color);
  border-radius: 0;
}
.popup-container:hover {
  color: var(--box-hover-color);
}
.popup-image {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 19rem;
  background-size: cover;
  background-position: center 40%;
}
.popup-image .background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 60%;
}
.popup-container h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 0.5rem;
}
.popup-footer {
  margin: 0.5rem 0 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
}
.popup-footer ion-icon {
  font-size: 1.6rem;
}
.popup-footer p {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.popup-stars {
  margin-left: auto;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.popup-stars p {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.popup-stars ion-icon {
  font-size: 1.6rem;
}
.mapboxgl-popup-close-button,
.mapboxgl-popup-close-button:focus,
.mapboxgl-popup-close-button:hover {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
/* Hide the popup tip (the little arrow) if you want */
.mapboxgl-popup-tip {
  display: none;
}
@media (max-width: 44em) {
  .map-placeholder {
    position: fixed !important;
    left: 0;
    height: auto;
    /*   height: calc(100vh - (var(--header-size))); */
    height: calc(100vh - calc((var(--header-size) + 25rem) - var(--ad-banner-height)));
    transform: translateY(0);
    width: 100%;
    max-width: none;
    display: none;
    /* z-index: -1; */
  }
  .mapboxgl-popup-content {
    width: 22rem !important;
  }
  .popup-image {
    height: 13rem;
  }
  .race-box-info-footer {
    margin: auto 0 1rem 0;
    display: flex;
  }
  .toggle-button.desktop {
    display: none;
  }
}
