rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /dailySalts/{saltId} {
      allow read: if true;
      allow write: if false;
    }
    match /pageViews_se/{docId} {
      allow write: if true;
    }
    match /submissions_se/{raceId} {
      allow read: if true;
      allow write: if true;
    }
    match /pageViews_no/{docId} {
      allow write: if true;
    }
    match /submissions_no/{raceId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
