@import '_variables.less';

.section-hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  text-align: center;
  color: black;
  overflow: hidden; /* Ensure the overlay stays within the bounds */
  padding-top: 23rem;
  padding-left: 20rem;
  border-bottom: none;

  @media (max-width: @tablet) {
    padding-left: 10rem;
  }
  @media (max-width: @small-tablet) {
    padding-left: 3rem !important;
  }
  @media (max-width: @phone) {
    padding-left: 2rem !important;
    padding-top: 18rem !important;
  }

  .hero-content {
    position: relative;
    z-index: 2; /* Ensure content is above the overlay and image */

    .title-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.5rem;
      padding: 1.5rem; /* Optional: adjust as needed */
      box-sizing: border-box;
      @media (max-width: @phone) {
        flex-direction: column;

        align-items: flex-start;
        padding-left: 0rem;
      }

      .native-title,
      .native-country {
        margin: 0; /* Remove default margins */
        display: inline-block;
      }

      .native-title {
        font-size: 4.5rem;
      }

      .native-country {
        font-size: 8rem;
        margin-left: 1rem;
        @media (max-width: @tablet) {
          margin-left: 0;
          transform: translateY(-1.5rem);
        }
      }
    }

    .bullet-list {
      margin-top: 10rem;
      padding-left: 10rem;
      list-style: none;

      @margin-bottom: 3rem;
      @margin-bottom-first: 2rem;

      @media (max-width: @tablet) {
        padding-left: 5rem;
      }
      @media (max-width: @phone) {
        padding-left: 0rem;
        margin-top: 7rem;
      }

      li {
        margin-bottom: @margin-bottom;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--color-background);

        @media (max-width: @phone) {
          padding-left: 0.6rem;
          &:nth-child(3),
          &:nth-child(4) {
            padding: 1rem 0 1rem 0.6rem;
          }
        }
        &:nth-child(1) {
          margin-bottom: @margin-bottom-first;

          ion-icon {
            color: var(--color-warning);
          }
        }

        &:nth-child(2) {
          padding-left: 3rem;
        }

        &:nth-child(3) {
          ion-icon {
            color: var(--color-success);
          }
        }

        &:nth-child(4) ion-icon {
          color: var(--color-secondary-highlight);
        }
        /* Adding the right arrow */
        &:nth-child(1)::after,
        &:nth-child(3)::after,
        &:nth-child(4)::after {
          content: '→';
          font-size: 3.4rem;
          margin: 0 0 0.7rem 1%;
          transition: margin-left 0.2s;
          padding-right: 2rem;
          @media (max-width: @phone) {
            margin-left: auto;
            margin-bottom: 0.2rem;
            padding-right: 3rem;
            transition: none;
          }
        }
        &:nth-child(2)::after {
          content: '+';
          font-size: 3rem;
          margin: 0.2rem 0 0 1%;
          transition: font-weight 0.2s;
          @media (max-width: @phone) {
            margin-left: auto;
            padding-right: 3.8rem;
            transition: none;
          }
        }
        &:hover,
        &:active {
          background-color: var(--color-background);
          border-bottom: 2px solid #000;
          margin-bottom: ~'calc(@{margin-bottom} - 2px)';
          cursor: pointer;
          &:nth-child(1)::after,
          &:nth-child(3)::after,
          &:nth-child(4)::after {
            margin-left: 2%;
          }
          &:nth-child(2)::after {
            font-weight: bold;
          }
          &:nth-child(1) {
            margin-bottom: ~'calc(@{margin-bottom-first} - 2px)';
          }
        }
        &:hover,
        &:active {
          background-color: var(--color-background-shade);
          border-bottom: 2px solid #000;
          margin-bottom: ~'calc(@{margin-bottom} - 2px)';
        }

        a {
          text-decoration: none;
          color: inherit;
          font-size: 2.1rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          text-align: start;
          height: 4rem;
          ion-icon {
            font-size: 3rem;
            margin-right: 0.5rem;
            margin-left: 1rem;
            width: 3rem;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
