{% extends "browse/browse_layout.html" %} {% block browse_content %}
<div class="browse-overview">
  <h1>{{ browse_overview.title }}</h1>
  <p class="browse-description">{{ browse_overview.meta_description }}</p>

  <section class="browse-section">
    <h2>{{browse_counties.title}}</h2>
    <div class="browse-grid">
      {% for county, data in structure.counties|dictsort %}
      <h3>
        <a href="{{ data.href }}" class="browse-card">
          {{county}}
          <span class="count"
            >({{ data.count }} {{ local_name_for_race }})</span
          >
        </a>
      </h3>
      {% endfor %}
    </div>
  </section>

  <section class="browse-section">
    <h2>{{ browse_cities.title }}</h2>
    <div class="browse-grid">
      {% for city, data in structure.cities|dictsort %}
      <h3>
        <a href="{{ data.href }}" class="browse-card">
          {{ city }}
          <span class="count"
            >({{ data.count }} {{ local_name_for_race }})</span
          >
        </a>
      </h3>
      {% endfor %}
    </div>
  </section>

  <section class="browse-section">
    <h2>{{ browse_types.title }}</h2>
    <div class="browse-grid">
      {% for type, data in structure.types|dictsort %}
      <h3>
        <a href="{{ data.href }}" class="browse-card">
          {{ type }}
          <span class="count"
            >({{ data.count }} {{ local_name_for_race }})</span
          >
        </a>
      </h3>
      {% endfor %}
    </div>
  </section>

  <section class="browse-section">
    <h2>{{ browse_categories.title }}</h2>
    <div class="browse-grid">
      {% for category, data in structure.categories|dictsort %}
      <a href="{{ data.href }}" class="browse-card">
        <h3>
          {{ category }}
          <span class="count"
            >({{ data.count }} {{ local_name_for_race }})</span
          >
        </h3>
      </a>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}
