<!DOCTYPE html>
<html lang="{{ country_language_code }}">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <title>{% block title %}{{ browse_overview.title }}{% endblock %}</title>
    <meta
      name="description"
      content="{% block meta_description %}{{ browse_overview.meta_description }}{% endblock %}"
    />
    <link rel="icon" href="/common_images/logo.svg" type="image/svg+xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/header-menu.css" />
    <link rel="stylesheet" href="/css/breadcrumbs.css" />
    <link rel="stylesheet" href="/css/ads.css" />
    <link rel="stylesheet" href="/css/race-list-filter.css" />
    <link rel="stylesheet" href="/css/race-list-dynamic-titles.css" />
    <link rel="stylesheet" href="/css/selected-races.css" />
    <link rel="stylesheet" href="/css/race-card-big.css" />
    <link rel="stylesheet" href="/css/race-cards.css" />
    <link rel="stylesheet" href="/css/race-card.css" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7076760775175370"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/js/commonFunctions.js"></script>
    <script defer="" type="module" src="/js/raceListMap.js"></script>
    <script defer="" src="/js/raceListDisengeageFilters.js"></script>
  </head>
  <body>
    <!-- Page content -->
    <main>
      {% block content %} {% include './sections/header-menu.html' %}

      <div class="browse-container">
        {% include 'components/breadcrumbs.html' %}
        <nav class="browse-nav">
          <a
            href="/{{ race_list_name|slugify(country_code) }}/{{ browse_by_category.button|slugify(country_code) }}"
            class="{% if active_tab == 'all' %}active{% endif %}"
          >
            {{ browse_by_category.overview }}
          </a>
          <a
            href="/{{ race_list_name|slugify(country_code) }}/{{ browse_by_category.button|slugify(country_code) }}/counties.html"
            class="{% if active_tab == 'counties' %}active{% endif %}"
          >
            {{ browse_by_category.counties }}
          </a>
          <a
            href="/{{ race_list_name|slugify(country_code) }}/{{ browse_by_category.button|slugify(country_code) }}/cities.html"
            class="{% if active_tab == 'cities' %}active{% endif %}"
          >
            {{ browse_by_category.cities }}
          </a>
          <a
            href="/{{ race_list_name|slugify(country_code) }}/{{ browse_by_category.button|slugify(country_code) }}/types.html"
            class="{% if active_tab == 'types' %}active{% endif %}"
          >
            {{ browse_by_category.types }}
          </a>
          <a
            href="/{{ race_list_name|slugify(country_code) }}/{{ browse_by_category.button|slugify(country_code) }}/categories.html"
            class="{% if active_tab == 'categories' %}active{% endif %}"
          >
            {{ browse_by_category.categories }}
          </a>
        </nav>

        {% block browse_content %}{% endblock %}
      </div>

      {% include 'components/footer.html' %} {% endblock %}
    </main>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
