<section class="ad-banner">
  <div class="ad-banner-controls">
    <button class="minimize-button" aria-label="Minimize ad">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </button>
  </div>

  <div class="ad-content">
    <!-- AdSense ad container -->
    <div id="ad-container">
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-7076760775175370"
        data-ad-slot="2240363608"
        data-ad-format="horizontal"
        data-full-width-responsive="true"
      ></ins>
    </div>
  </div>
</section>
