<section class="section section-race-cards">
  <h1 class="section-header section-header-race-cards">
    {{ section_race_card_category_prefix }}
    <span id="race-cards-title-category"></span>
    {{ section_race_card_category_suffix }}
    <span id="race-cards-title-separator">{{ section_race_card_header_separator }}</span>
    <span id="race-cards-title-region">{{ section_race_card_header_region_default }}</span>
    <span id="date-range"></span>
  </h1>


  <button class="toggle-button mobile" id="toggleMapButtonMobile">
    <div class="icon-container">
      <ion-icon name="map-outline" role="img" class="md hydrated" aria-label="map outline"></ion-icon>
    </div>
    <p>{{ map_toggle_mobile }}</p>
  </button>


  <div class="race-cards-selector">
    <div
      class="race-cards-grid"
        id="race-cards-container"
        {/*
        prettier-ignore
        */}
        {% if preselected_filters %}
        data-preselected-filters='{{ preselected_filters|tojson }}'
        {% endif %}
      >
        {% for race in races %} {% include 'components/race-card.html' %} {% endfor
        %}
        <!-- Add pagination controls -->
  <div class="pagination-info">
    <span id="event-range">{{ pagination.results_text }}</span> 
    <span id="total-events">{{ pagination.events_text }}</span> 
  </div>
  <div class="pagination">
    <button id="prev-page">{{ pagination.previous_text }}</button>
    <div id="page-numbers"></div>
      <button id="next-page">{{ pagination.next_text }}</button>
    </div>
  </div>

    
    <div class="map-placeholder"   id="map-placeholder"    data-latitude="{{ mapbox_center.latitude }}"
    data-longitude="{{ mapbox_center.longitude }}"
      data-zoom="{{ race_page_map_zoom }}"
    >
      <!-- Map will be inserted here -->
    </div>
  </div>


</section>
