<section class="section section-race-cards">
  <h2 class="section-header section-header-race-cards">
    {{ section_race_card_category_prefix }}
    <span id="race-cards-title-category"></span>
    {{ section_race_card_category_suffix }}
    <span id="race-cards-title-separator">{{ section_race_card_header_separator }}</span>
    <span id="race-cards-title-region">{{ section_race_card_header_region_default }}</span>
    <span id="date-range"></span>
  </h2>

  <div
    class="race-cards-grid"
    id="race-cards-container"
    {/*
    prettier-ignore
    */}
    {% if preselected_filters %}
    data-preselected-filters='{{ preselected_filters|tojson }}'
    {% endif %}
  >
    {% for race in races %} {% include 'components/race-card.html' %} {% endfor
    %}
  </div>

  <!-- Add pagination controls -->
  <div class="pagination-info">
    <span id="event-range"></span> of <span id="total-events"></span> Events
  </div>
  <div class="pagination">
    <button id="prev-page">Previous</button>
    <div id="page-numbers"></div>
    <button id="next-page">Next</button>
  </div>
</section>
