<section class="section section-selected-forum-posts">
  <h2 class="section-header">{{navigation.forum}}</h2>
  <div class="selected-forum-posts-container">
    {% for post in forum_posts %} {% include
    'components/selected-forum-post-card.html' %} {% endfor %}
  </div>
  <div class="selected-races-button-container">
    <button class="selected-races-button" id="forum-button">
      {{ cta_forum }}
    </button>
    <script>
      // JavaScript logic to handle the button click
      document.getElementById('forum-button').onclick = function() {
        location.href = '/{{ navigation["forum"] | slugify(country_code) }}.html';
      };
    </script>
  </div>
</section>
