<section class="section section-selected-races">
  <h2 class="section-header">{{ selected_races_title }}</h2>
  <div class="race-card-big-container right-scroller">
    {% for race in races[:10] %} {% with lazy_load=loop.index > 4 %} {% include
    'components/race-card-big.html' %} {% endwith %} {% endfor %}
  </div>
  <div class="selected-races-button-container">
    <!-- eslint-disable-next-line -->
    <button class="selected-races-button" id="selected-races-button">
      {{ cta_all_races }}
    </button>
    <script>
      // JavaScript logic to handle the button click
      document.getElementById('selected-races-button').onclick = function () {
        location.href =
          '/{{ navigation["race-list"] | slugify(country_code) }}';
      };
    </script>
  </div>
</section>
