<!DOCTYPE html>
<html lang="{{ country_language_code }}">
  <head>
    <!-- Schema Data (Important for SEO) -->
    {% for schema_type, schema in schema_data.items() %} {% if schema is defined
    and schema is not none %}
    <script type="application/ld+json">
      {{ schema | tojson | safe }}
    </script>
    {% endif %} {% endfor %}
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <title>{{ race_list_title }}</title>
    <meta
      name="description"
      content="{{ race_list_meta_description_1 }} {{ '' | get_years }} {{ race_list_meta_description_2 }}"
    />

    <!-- Preload critical assets -->
    <link rel="preload" href="/css/general.css" as="style" />
    <link rel="preload" href="/css/header-menu.css" as="style" />
    <link rel="preload" href="/css/loader.css" as="style" />
    <link rel="prefetch" href="/js/commonFunctions.js" as="script" />

    <!-- Preconnect to critical domains -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://api.mapbox.com" crossorigin />

    <!-- Favicon -->
    <link rel="icon" href="/common_images/logo.svg" type="image/svg+xml" />

    <!-- CSS Loading Tracker Script -->
    <script src="/js/cssLoader.js"></script>

    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/header-menu.css" />
    <link rel="stylesheet" href="/css/loader.css" />
    <link rel="stylesheet" href="/css/ads.css" />
    <link rel="stylesheet" href="/css/race-list-filter.css" />
    <link rel="stylesheet" href="/css/race-list-dynamic-titles.css" />
    <link rel="stylesheet" href="/css/selected-races.css" />
    <link rel="stylesheet" href="/css/race-card-big.css" />
    <link rel="stylesheet" href="/css/race-cards.css" />
    <link rel="stylesheet" href="/css/race-card.css" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <!-- Icons (load early to avoid CLS, appernetly gets LCS anyway. consider moving this to the loader and only release it once loaded) -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <!-- Ad-related preconnects -->
    <link
      rel="preconnect"
      href="https://pagead2.googlesyndication.com"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://googleads.g.doubleclick.net"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://tpc.googlesyndication.com"
      crossorigin
    />
    <link rel="preconnect" href="https://adservice.google.com" crossorigin />

    <!-- Mapbox (load only when needed) -->
    <script
      defer
      src="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js"
    ></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />

    <!-- Critical Scripts -->
    <script type="module" src="/js/commonFunctions.js"></script>

    <!-- Deferred Scripts -->
    <script defer src="/js/raceList.js"></script>
    <script defer type="module" src="/js/raceListMap.js"></script>
    <script defer src="/js/raceListDisengeageFilters.js"></script>
    <script defer src="/js/raceListToggleButton.js"></script>
    <script defer src="/js/raceListToggleMap.js"></script>

    <!-- Ads Script -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7076760775175370"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% include 'components/initial_loader.html' %}

    <div id="page-wrapper">
      <main>{% block content %}{% endblock %}</main>
      {% include 'components/footer.html' %}
    </div>
  </body>
</html>
