<!DOCTYPE html>
<html lang="{{ country_language_code }}">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <title>{% block title %}{{ forum.title }}{% endblock %}</title>
    <meta
      name="description"
      content="{% block meta_description %}{{ forum.meta_description }}{% endblock %}"
    />
    <link rel="icon" href="/common_images/logo.svg" type="image/svg+xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/breadcrumbs.css" />
    <link rel="stylesheet" href="/css/header-menu.css" />
    <link rel="stylesheet" href="/css/ads.css" />
    <link rel="stylesheet" href="/css/forum.css" />
    <link rel="stylesheet" href="/css/selected-forum-post-card.css" />

    <script src="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7076760775175370"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/js/commonFunctions.js"></script>
    <script type="module" src="/js/forumFirebase.js"></script>

    {% if breadcrumbs %}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {% for crumb in breadcrumbs %}
          {
            "@type": "ListItem",
            "position": {{ crumb.position }},
            "name": "{{ crumb.name }}",
            "item": "https://loppkartan.se{{ crumb.item }}"
          }{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      }
    </script>
    {% endif %}
  </head>
  <body>
    {% include 'sections/header-menu.html' %}

    <!-- Page content -->
    <main>{% block content %}{% endblock %}</main>

    {% include 'components/footer.html' %}

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
