{% extends "forum/forum_layout.html" %} {% block content %}
<div class="forum-container forum-section">
  <h1>{{ forum.title }}</h1>
  {% for category in forum_categories %}
  <div class="category-card">
    <div class="category-main">
      <a
        href="/{{ navigation.forum | slugify(country_code) }}/{{ category.slug }}/index.html"
        class="category-title"
      >
        <h2>{{ category.name }}</h2>
      </a>
      <p class="category-description">{{ category.description }}</p>
    </div>
    <div class="category-stats">
      <div class="thread-count">
        {{ category.thread_count }} {{ forum.threads_label }}
      </div>
      <div class="post-count">
        {{ category.post_count }} {{ forum.posts_label }}
      </div>
    </div>
    {% if category.latest_thread %}
    <div class="latest-activity">
      <div class="latest-thread">
        <a
          href="/{{ navigation.forum | slugify(country_code) }}/{{ category.slug }}/{{ category.latest_thread.slug }}/index.html"
        >
          {{ category.latest_thread.title }}
        </a>
      </div>
      <div class="latest-meta">
        <span class="latest-author">{{ category.latest_thread.author }}</span>
        <span class="latest-date">{{ category.latest_thread.created_at }}</span>
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
