{% extends "race_list_layout.html" %} {% block content %}{% include
'sections/ad-banner.html' %} {% include './sections/header-menu.html' %}

<div class="browse-container">
  <nav class="browse-nav">
    <a
      href="/{{ race_list_name|slugify(country_code) }}/{{ browse_by_category.button|slugify(country_code) }}"
      class="{% if active_tab == 'all' %}active{% endif %}"
    >
      {{ browse_by_category.overview }}
    </a>
    <a
      href="/{{ race_list_name|slugify(country_code) }}/{{ browse_by_category.button|slugify(country_code) }}/counties.html"
      class="{% if active_tab == 'counties' %}active{% endif %}"
    >
      {{ browse_by_category.counties }}
    </a>
    <a
      href="/{{ race_list_name|slugify(country_code) }}/{{ browse_by_category.button|slugify(country_code) }}/cities.html"
      class="{% if active_tab == 'cities' %}active{% endif %}"
    >
      {{ browse_by_category.cities }}
    </a>
    <a
      href="/{{ race_list_name|slugify(country_code) }}/{{ browse_by_category.button|slugify(country_code) }}/types.html"
      class="{% if active_tab == 'types' %}active{% endif %}"
    >
      {{ browse_by_category.types }}
    </a>
    <a
      href="/{{ race_list_name|slugify(country_code) }}/{{ browse_by_category.button|slugify(country_code) }}/categories.html"
      class="{% if active_tab == 'categories' %}active{% endif %}"
    >
      {{ browse_by_category.categories }}
    </a>
  </nav>

  {% block browse_content %}{% endblock %}
</div>

{% include 'components/footer.html' %} {% endblock %}
